<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                Welcome to the MVC UI - Secure page
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            @foreach (var group in User.Claims.GroupBy(c => c.Issuer))
            {
                <h3>Issuer: @group.Key</h3>
                <dl>
                    @foreach (var claim in group)
                    {
                        <dt>@claim.Type</dt>
                        <dd>@claim.Value</dd>
                    }
                </dl>
            }

        </div>
    </div>
</div>
